/*main css for gsexpr*/
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

#select_protein_TCGA .btn-primary {
    width: 100px;
}

#select_miRNA_TCGA .btn-primary {
    width: 82px;
}

#select_mRNA_TCGA .btn-primary {
    width: 80px;
}
